<section>
    <h3>{{{i18n "ttl-license-list"}}}</h3>
    <div style="margin-bottom:20px;">
        {{{i18n "inst-license-list"}}}
    </div>
    <div class="table-responsive">
        <table class="wb-tables table table-striped table-hover datatable no-footer" id="tbl-licenses">
            <thead>
                <tr>
                    <th scope="col">{{{i18n "ttl-license-number"}}}</th>
                    <th scope="col">{{{i18n "ttl-effective-date"}}}</th>
                    <th scope="col">{{{i18n "ttl-expiry-date"}}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">{{{i18n "msg-loading"}}}...</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script>
    (function (window) {
        const licenceTable = document.getElementById('tbl-licenses');
        const tableConfig = { searching: false };
        const tableData = window.sessionStorage.getItem('licenceRows');
        if (tableData) {
            tableConfig.data = JSON.parse(tableData);
            licenceTable.setAttribute('data-wb-tables', JSON.stringify(tableConfig));
            console.log('Table data loaded from Cache');
        } else {
            const userId = window.sessionStorage.getItem('userId') || '1234'
            document.addEventListener('DOMContentLoaded', function (event) {
                $.get('https://cnsc-poc-api.azurewebsites.net/api/users/' + userId + '/authorizations/SSTS', function (authorization) {
                    const d = authorization.licences.map(function (licence) { return [licence.licenceNumber, licence.effectiveDate, licence.expiryDate] })
                    tableConfig.data = d;
                    window.sessionStorage.setItem('licenceRows', JSON.stringify(d));
                    licenceTable.setAttribute('data-wb-tables', JSON.stringify(tableConfig));
                    console.log('Table data loaded from API');
                });
            });
        }
    }(this));
</script>
