<section>
    <h3>{{{i18n "ttl-licence-list"}}}</h3>
    <div style="margin-bottom:20px;">
        {{{i18n "inst-licence-list"}}}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover datatable no-footer" id="tbl-licences">
            <thead>
                <tr>
                    <th scope="col">{{{i18n "ttl-licence-number"}}}</th>
                    <th scope="col">{{{i18n "ttl-effective-date"}}}</th>
                    <th scope="col">{{{i18n "ttl-expiry-date"}}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">{{{i18n "msg-loading"}}}...</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script>
    (function (window) {
        document.addEventListener(
            'DOMContentLoaded',
            function () { poc.getLicenceList(licenceListReceived) }
        );

        function licenceListReceived(licenceList) {
            var data = poc.licenceListTo2DArray(licenceList)
            var $table = $('#tbl-licences')
            var options = {
                searching: false
            }
            poc.addRowClickHandler($table, licenceClick)
            poc.bindDataToTable(data, $table, options)
        }

        function licenceClick($row) {
            var licenceNo = $row.children().first().text();
            $(document).trigger($.Event('licenceSelected', {selectedLicence: licenceNo}))
        }
    }(this));
</script>